<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'head.njk' %}
	</head>
	<body class="w-100 sans-serif">
		{% include 'header.njk' %}
		<main>
			<h1 class="near-black ph4-ns ph3 fw5 f-headline-ns f1">Blog</h1>

			<div class="ph4-ns ph3 f4-ns content lh-copy">

				<div class="f5 w-100 mb6">

					<a href="../creative_code_synthesis/" class="db black dim">
					<div class="bb row flex items-center">
						<div class="cell w-50">11/2020</div>
							<div class="cell w-50">
								<h3>Creative code synthesis</h3>
							</div>
						</div>
					</a>

					<a href="../inductive_program_synthesis/" class="db black dim">
					<div class="bb row flex items-center">
						<div class="cell w-50">2020</div>
							<div class="cell w-50">
								<h3>Inductive program synthesis in Javascript</h3>
							</div>
						</div>
					</a>

				</div>
			</div>
		</main>

	{% include 'footer.njk' %}

   </body>
</html>
