<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'head.njk' %}
	</head>
	<body class="w-100 sans-serif">
		{% include 'header.njk' %}
		<main>
			<h1 class="near-black ph4-ns ph3 f-subheadline-ns f2">
				I am a software engineer from Ukraine,
				currently living and working in Estonia.
				🇺🇦🇪🇪
				I mainly specialize in computer vison & robotics.
				<a href="http://bit.ly/3qwKz2P"><img src="../assets/starship_robot_side.png" style="margin-top:-1.125em;width:1.5em" class="di absolute" alt="robot"></a>
				<span class="dib" style="width:1.5em;"></span>This website is for my spare time hobby projects.
			</h1>

		</main>

		{% include 'footer.njk' %}

   </body>
</html>
