---
layout: post.njk
title: "I did not notice my worsening mental health, and got hit hard by OCD (a tale of caution)"
time: 10/01/2021
---

{% markdown %}

Have you seen “Aviator”, a movie with Leonardo DiCaprio about Howard Hughes? Then you might recall what an OCD is.

<iframe class="center-block" width="560" height="315" src="https://www.youtube.com/embed/2fXF8G50BPQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

__[Obsessive–compulsive disorder](https://en.wikipedia.org/wiki/Obsessive%E2%80%93compulsive_disorder) (OCD) is a mental disorder in which a person has certain thoughts ”repeatedly (called "obsessions") or feels the need to perform certain routines repeatedly (called ”compulsions") to an extent which generates distress or impairs general functioning__

I have a mild form of OCD. Had it since teenage years. It rarely bothered me, and I mainly did not care about it much. It manifested itself maybe few times per year, where I would have to re-check if the door is locked few times, for example (which does not seem like a huge burden).

And so, I felt great in autumn and in the first half of December. Everything was fine, I have a job that I love, great family, and hobbies that I enjoy.

Then, this winter came, and It got worse. I live in a northern country (Estonia), daylight time is very short, and although I don’t suffer from SAD too much usually, it might have been a factor. And I usually try to get some vacation in warmer countries, but this year did not do it because of COVID. I also started to work from home, and it probably added to the feeling of isolation and brought me down more.

All in all, I don’t know what were that main factors, but probably the whole combination was just a bit  too much. Occasional obsessions and compulsions started to show up more, but I mainly just shrugged them off. Then, closer to the new year, it stared to get even worse.

__And now it’s at a point where I need professional help, It's hard to work, I lost lots of weight, have bad anxiety all the time, and all the obsessions make my behaviour erratic at times.__ And yet another problem — its actually hard to find professional help quickly! It can be weeks or months until finding a therapist. Thakfully, I was able to secure an appointment within a weel, but not all people are as lucky.

*My main mistake was not looking for warning signs of illness.* It was “today it’s fine, then all will be fine” attitude, which is a big mistake.

Yes, my case is slightly exotic, but it relates to all other mental health issues: depression, anxiety, panic attacks, etc… [Nearly 20% of people have some form of mental illness](https://www.nimh.nih.gov/health/statistics/mental-illness.shtml), and some of the issues might not seem like a big deal until they hit hard.

As a tale of caution, I have some advice, which I will follow religiously in future. This is relatively obvious and simple, but let my example be a bit of a motivation to take it more seriously.
- Maintain mood logging, and journal regularly. It would help to notice any anomalies and problems before they become serious. Don’t shrug off warning signs!
- Find mental health checklists, like https://www.beyondblue.org.au/the-facts/anxiety-and-depression-checklist-k10, check yourself time from time,
- Therapy is important, especially in this times. I never did therapy, and now regret it.
- Fitness, meditation, good diet and all kinds of self care — in this time of increased isolation it’s not just some random good habits, treating this seriously is a very important part of well-being.

{% endmarkdown %}
