<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'head.njk' %}
	</head>
	<body class="w-100 sans-serif">

		{% include 'header.njk' %}

		<main>
			<h1 class="near-black ph4-ns ph3 fw5 f-headline-ns f1">Projects</h1>
			<div class="ph4-ns ph3 f4-ns content lh-copy">

{% markdown %}

### ARC dataset exploration
https://github.com/coolvision/arc_demo
Exploration of binary image processing appled to <a href='https://www.kaggle.com/c/abstraction-and-reasoning-challenge/overview'>"Abstraction and Reasoning Challenge" dataset</a>
<img src="../assets/Screenshot 2021-01-02 at 15.59.08.png" style="">

### 3d scanner
https://github.com/coolvision/KinectShape
<p><iframe src="https://player.vimeo.com/video/48663137" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></p>
<p><a href="https://vimeo.com/48663137">KinectFusion demo</a> from <a href="https://vimeo.com/user11080364">Sergey K.</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

### 2d kinematics simulator
https://github.com/coolvision/simple_cad
<p><iframe src="https://player.vimeo.com/video/118649426" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></p>
<p><a href="https://vimeo.com/118649426">Building and simulating a Klann linkage mechanism</a> from <a href="https://vimeo.com/user11080364">Sergey K.</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

### Bongard problems solver
https://k10v.github.io/2018/02/25/Solving-Bongard-problems-with-deep-learning/
A good overview of the problem domain can be found at: https://notes.fringeling.com/BongardSolvers/

### Robot arm gesture control
<p><iframe src="https://player.vimeo.com/video/119529298" width="640" height="853" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></p>
<p><a href="https://vimeo.com/119529298">Controlling a robot arm with gestures, using Leap Motion</a> from <a href="https://vimeo.com/user11080364">Sergey K.</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

### CVAE implementation
https://github.com/coolvision/vae_conv

### RBM training
https://github.com/coolvision/rbm_demo
<img src="../assets/images_for_the_deep_learning_post.jpg" style="">

### Voxel fractals with chaos game algorithm
https://github.com/coolvision/fractal_demo
<img src="../assets/Screenshot-from-2014-03-19-213542.png" style="">

{% endmarkdown %}

			</div>
		</main>

		{% include 'footer.njk' %}

	</body>
</html>
