---
layout: post.njk
title: "Some applications of program synthesis"
time: 05/2020
---

{% markdown %}

Some of the applications are: smarter intellisense, programming teaching assistants, programming automation tools, verified smart contracts, AI & machine learning.

RL modes interpretation, need to find references

[http://people.csail.mit.edu/asolar/SynthesisCourse/Lecture1.htm](http://people.csail.mit.edu/asolar/SynthesisCourse/Lecture1.htm)

## FlashFill

[https://support.office.com/en-us/article/using-flash-fill-in-excel-3f9bcf1e-db93-4890-94a0-1578341f73f7](https://support.office.com/en-us/article/using-flash-fill-in-excel-3f9bcf1e-db93-4890-94a0-1578341f73f7)

## Smart contracts

[https://synthetic-minds.com/pages/blog/blog-2019-05-12.html](https://synthetic-minds.com/pages/blog/blog-2019-05-12.html)

## Creativity!

[https://www.findaphd.com/phds/project/phd-studentship-in-creative-automated-program-synthesis/?p110819](https://www.findaphd.com/phds/project/phd-studentship-in-creative-automated-program-synthesis/?p110819)

## Code completion

[https://www.codota.com/](https://www.codota.com/)

Microsoft Program Synthesis using Examples SDK

[https://microsoft.github.io/prose/](https://microsoft.github.io/prose/)

{% endmarkdown %}
