<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'head.njk' %}
		<link rel="stylesheet" type="text/css" href="/aflow/style.css">
		<script src="/lib/lodash.js" ></script>
		<script src="/lib/jquery-3.3.1.min.js"></script>
		<script src="/lib/stringify.js"></script>
		<script src="/lib/misbehave.js"></script>
	</head>
	<body class="w-100 sans-serif">
		{% include 'header.njk' %}

		<main>

			{% set id = 'demo1' %}
			{% include './demo1.njk' %}
			<div class="cl"></div>

			{% set id = 'demo4' %}
			{% include './demo_w_canvas.njk' %}

			{% set id = 'demo5' %}
			{% include './demo_w_canvas.njk' %}

			{% set id = 'demo6' %}
			{% include './demo_w_canvas.njk' %}

		</main>

		<script type="module" src="/aflow/runtime.js"></script>
		<script type="module" src="/aflow/ui.js"></script>

		{% include 'footer.njk' %}
	</body>
</html>
