			<div id="{{ id }}" class="w-100 program_demo cl fl pb3">
				<div class="code_area mh3 mh4-ns mt3 fl f6 lh-copy io pa3 ba br2 editable_code" style="line-height:1.15;" contenteditable="true" autocorrect="off" autocapitalize="off" spellcheck="false">
				</div>

				<div class="step ml3 ml4-ns cl fl mt2 button mr1 fw4 ba ph2 pv1 dib pointer hover-blue" style="user-select: none;">step</div>
				<div class="step_over fl mt2 button mr1 fw4 ba ph2 pv1 dib pointer hover-blue" style="user-select: none;">step over</div>
				<div class="step_out fl mt2 button mr1 fw4 ba ph2 pv1 dib pointer hover-blue" style="user-select: none;">step out</div>
				<div class="run ml3 ml4-ns fl mt2 button mr1 fw4 ba ph2 pv1 dib pointer hover-blue" style="user-select: none;">run</div>
				<div class="stop fl mt2 button mr1 fw4 ba ph2 pv1 dib pointer hover-blue" style="user-select: none;">pause</div>
				<div class="restart ml3 ml4-ns fl mt2 button mr1 fw4 ba ph2 pv1 dib pointer hover-blue" style="user-select: none;">restart</div>

				<div class="w-100 ph4-ns ph3 f6 mt1 cl fl">
					<div class="fl mr3" style="max-width:70%;">
						<div class="f5 ma1">Breakpoints</div>
						<div class="fl code_render lh-copy ba br2 pa3"></div>
					</div>
					<div class="fl mr3" style="margin-top:26px;">
						<canvas class="canvas ba br2" width="300" height="300"></canvas>
					</div>
					<div class="fl mr3">
						<div class="f5 ma1">Log</div>
						<div class="log pa3 bg-light-gray br2 editable_code"></div>
					</div>
				</div>
			</div>
