<nav class="gray ma4-ns ma3 f6">
	<div class="">Updated: {{ page.date.toUTCString() }}</div>
	<div class="pv1">Built with <a class="gray" href="https://tachyons.io/">Tachyons</a>, <a class="gray" href="https://www.11ty.dev/">Eleventy</a>, <a class="gray" href="https://nizarkazan.myshopify.com/">Lausanne</a>, <a class="gray" href="https://klim.co.nz/collections/soehne/">Söhne</a></div>
</nav>
