<nav class="bb flex-ns f5-ns f4 pa4-ns pa3 w-100">

	{% if page.url == '/' %}
		<div class="name">Sergii&nbsp;Kharagorgiiev</div>
	{% else %}
		<div class="name"><a href="../" style="word-break:normal;" class="dim black">Sergii&nbsp;Kharagorgiiev</a></div>
	{% endif %}

	<div class="mt0-ns mt2 w-100 flex-ns justify-around">

		{% if '/blog' in page.url %}
			<span class="gold link1 db">blog</span>
		{% else %}
			<a href="/blog/" class="dim black link1 db">blog</a>
		{% endif %}

		{% if '/projects' in page.url %}
			<span class="gold link1 db">projects</span>
		{% else %}
			<a href="/projects/" class="dim black link1 db">projects</a>
		{% endif %}

		<span class="link1 db"><a href="mailto:sk2009@gmail.com" class="dim black">email</a> / <a href="https://twitter.com/s_krgv" target="_blank" class="dim black">twitter</a></span>
		<a href="https://github.com/coolvision" target="_blank" class="dim black"><span class="link1 db">github</span></a>
	</div>
</nav>
