<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" href="/assets/css/tachyons.min.css">
<link rel="preload" href="/assets/fonts/soehne-web-buch.woff" type="font/woff" as="font" crossorigin>
<link rel="preload" href="/assets/fonts/Lausanne/Lausanne-300.woff2" type="font/woff2" as="font" crossorigin>
<style>
	{% include "../assets/css/init.css" %}
	{% include "../assets/css/style_demo.css" %}
	{% include "../assets/css/fonts.css" %}
</style>
